.buttonCommon {
    margin-top: 25px;
    color: #1c1c1c;
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    padding: 8px 30px;
    text-transform: uppercase;
    background: none;
    width: 100px;
    align-self: flex-end;
    margin-right: 10px;

    @media (max-width: 870px) {
        align-self: center;
        margin-right: 0;
    }
}
.buttonCursor {
    cursor: pointer;
}

.notFunctional {
    opacity: 0.4;
}

.isDisabled {
    opacity: 0.6;
    cursor: not-allowed !important;
}

.alertError {
    word-wrap:break-word;
    color: #ff3860;
    font-size: 13px;
    text-align: center;
    width:75%;
    align-self: flex-end;
    @media (max-width: 870px) {
        align-self: center;
    }
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputText {
    margin: 0.5rem;
    border: none;
    background: hsl(0 0% 93%);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    &[type="email"] {
        @media (min-width: 870px) {
            flex: 3 1 30ch;
        }
    }
    @media (max-width: 870px) {
        width: 100%;
    }
}

.inputNumber {
    border: none;
    margin: 0.5rem;
    border: none;
    background: hsl(0 0% 93%);
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    &[type="number"] {
        @media (min-width: 870px) {
            flex: 3 1 30ch;
        }
    }
    @media (max-width: 870px) {
        width: 100%;
    }
}

.pair {
    display: flex;
    width: 100%;
    align-items: center;
    @media (max-width: 870px) {
        flex-direction: column;
        width: 80%;
    }
}
