.hero {
    display: block;
    min-height: 750px;
    background: url("/wed3-dark.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    @media (max-width: 870px) {
        background: url("/wed-dark-mobile.jpg") center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
